<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <script src="{% static 'core/js/bootstrap.min.js' %}" defer type="module"></script>
</head>
<body>
    <header></header>
    <main>{% block main-content %} {% endblock main-content %}</main>
</body>
</html>
